.img img {
    width: 234px;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.block {
    height: 328px;
}
.list-genre {
    width: 100%;
    margin: auto;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 0px;
    width: 234px;
    height: 45px;
    overflow: hidden;
    /* padding: 10px 0; */
    text-align: center;
}

ul {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 80px;
    /* overflow-x: hidden; */
}

.caption {
    background-color: rgb(242, 212, 116);
    display: block;
}
